<h1>ELECTRE Tri analysis with explicitely defined base profiles</h1>

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/cghiaus/ELECTRE_Tri/HEAD?labpath=docs%2Ftutorials%2Fbase_profile.ipynb)

ELECTRE Tri-B is a multiple-criteria decision-making (MCDM) method designed to sort a set of alternatives into predefined ordered categories based on their performance across multiple criteria.

**Given:**

- A set of criteria $c = \{c_k\}$ with associated weights $w = \{w_k\}$.
- A matrix $A = \{a_{i,k}\}$ of performances of alternatives $a_i$ for each criterion $k$.
- A matrix $B = \{b_{j,k}\}$ of base profiles (or category boundaries) $b_j$ for each criterion $k$ that form a set of $l$ ordered categories $C$, where $l - 1$ is the number of base profiles.
- Preference $p = \{p_k\}$, indifference $q = \{q_k\}$, and veto $v = \{v_k\}$ threshold vectors for each criterion.
- A credibility threshold $\lambda$ for outranking.

**Do:**

Assign each alternative $a_i ∈ A$ to one of the predefined categories $C_j ∈ C$ based on its performance across all criteria $c_k$ by using optimistic and pessimistic classification.

__Procedure:__
1. Upload your data file by dragging  your file in `data\` folder.
2. Change `data_file` accordingly.
3. Interpret the results.

In [1]:
"""
Append `src/` directory to `path`
"""
import sys
import os

notebook_dir = os.path.dirname(os.path.abspath('__file__'))
project_root = os.path.dirname(os.path.dirname(notebook_dir))

src_dir = os.path.join(project_root, 'src')
sys.path.append(src_dir)

In [2]:
import pandas as pd

import electre_tri as et

# Data file

ELECTRE Tri-B data is a [.csv](https://en.m.wikipedia.org/wiki/Comma-separated_values) text file that contains, for each criterion:
- performance of alternatives **A**;
- base profiles **B**;
- indifference, preference and veto thresholds **T**;
- weights **w**. 

Examples data files are given in `data/` folder. Data files can be obtained with a [spreadsheet](https://en.m.wikipedia.org/wiki/Spreadsheet).

In [3]:
data_file = "../../data/base_profile.csv"
print("Example of data file")
pd.read_csv(data_file)

Example of data file

  type profile    c1    c2
0    A      a1   8.5  18.0
1    A      a2  14.0  16.0
2    A      a3   5.0  27.0
3    B      b1  10.0  15.0
4    B      b2  15.0  20.0
5    T       q   1.0   2.0
6    T       p   2.0   4.0
7    T       v   4.0   8.0
8    w     NaN   0.7   0.3

# Problem solving

In [4]:
# Problem statement
data_file = "../../data/base_profile.csv"
credibility_threshold = 0.7

# Problem solving
A, B, T, w = et.read_electre_tri_data(data_file)
optimistic, pessimistic = et.electre_tri_b(A, B, T, w,
                                           credibility_threshold)

# Results

## Ranking

Ranking means indicating for each alternative the category to which it belongs.

In [9]:
print("\nOptimistic ranking:")
print(optimistic.to_string(na_rep='0'))

print("\nPessimistic ranking:")
print(pessimistic.to_string(na_rep='0'))

Optimistic ranking:
           a1   a2   a3
b1 ≻      1.0    0    0
(b1, b2)    0    0    0
b2 ≺        0  1.0  1.0

Pessimistic ranking:
           a1   a2   a3
b1 ≻      1.0    0  1.0
(b1, b2)    0  1.0    0
b2 ≺        0    0    0

## Sorting

Sorting means indicating for each category the alternatives that belong to it.

In [6]:
# Optimistic sorting
opti_sort = et.sort(optimistic)
print('Optimistic sorting')
opti_sort.to_frame(name="alternatives").rename_axis("categories")

Optimistic sorting

           alternatives
categories
b1 ≻               [a1]
(b1, b2)             []
b2 ≺           [a2, a3]

In [7]:
# Pessimistic sorting
pessi_sort = et.sort(pessimistic)
print('Pessimistic sorting')
pessi_sort.to_frame(name="alternatives").rename_axis("categories")

Pessimistic sorting

           alternatives
categories
b1 ≻           [a1, a3]
(b1, b2)           [a2]
b2 ≺                 []