<h1>Your ELECTRE Tri analysis</h1>

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/cghiaus/ELECTRE_Tri/HEAD?labpath=ELECTRE_Tri%2FELECTRE_Tri_yours.ipynb)

1. Upload your data file by dragging  your file in `data\` folder.
2. Change `data_file` accordingly.
3. Interpret the results.

# Data file

ELECTRE Tri data file is a [.csv](https://en.m.wikipedia.org/wiki/Comma-separated_values) text file that contains, for each criterion:
- performance of alternatives **A**;
- base profiles **B**;
- indifference, preference and veto thresholds **T**;
- weights **w**. 

Examples data files are given in `data\` folder. Data files can be obtained with a [spreadsheet](https://en.m.wikipedia.org/wiki/Spreadsheet).

In [2]:
import pandas as pd
data_file = './data/simple_example.csv'
print("Example of data file")
pd.read_csv(data_file)

Example of data file

  type profile    c1    c2
0    A      a1   8.5  18.0
1    A      a2  14.0  16.0
2    A      a3   5.0  27.0
3    B      b1  10.0  15.0
4    B      b2  15.0  20.0
5    T       q   1.0   2.0
6    T       p   2.0   4.0
7    T       v   4.0   8.0
8    w     NaN   0.7   0.3

# Problem solving

In [1]:
import pandas as pd
import ELECTRE_Tri as et

# Problem statement
data_file = './data/simple_example.csv'
credibility_threshold = 0.7

# Problem solving
A, B, T, w = et.read_electre_tri_data(data_file)
optimistic, pessimistic = et.ELECTRE_Tri(A, B, T, w,
                                         credibility_threshold)

# Results

In [2]:
# Optimistic sorting
opti_sort = et.sort(optimistic)
print('Optimistic sorting')
opti_sort.to_frame(name="alternatives").rename_axis("categories")

Optimistic sorting

           alternatives
categories
b1 >               [a1]
(b1, b2)             []
b2 <           [a2, a3]

In [3]:
# Pessimistic sorting
pessi_sort = et.sort(pessimistic)
print('Pessimistic sorting')
pessi_sort.to_frame(name="alternatives").rename_axis("categories")

Pessimistic sorting

           alternatives
categories
b1 >           [a1, a3]
(b1, b2)           [a2]
b2 <                 []