<font size="6">Workflows</font>

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/cghiaus/ELECTRE_Tri/main?labpath=docs%2Fhow_to_guides%2Fworkflows.ipynb)

Example of application of the four workflows for crisp and probabilsitic ELECTRE Tri-B with base profiles defined explicitly or calculated from extreme levels.

# Problem statement

Let's consider the case of a bulding refurbushing.

**Given:**

- A set of criteria $\{c_{k}\}$:
    - __c1: Saving (in kWh/m²/year)__ with weight $w = 0.7$
    - __c2: Cost (in €/m²)__ with weight $w = 0.3$
___
- A set of alternatives $\{a_{i}\}$:
   - __a1: Basic renovation__
   - __a2: Moderate renovation__
   - __a3: Extensive renovation__

**Do:**
- Classify the alternatives in categories using the four worflows are available in `electre_tri.py` module:

|                 |ELECTRE Tri        | pELECTRE Tri      |
|-----------------|-------------------|-------------------|
| Base profiles   |`electre_tri_base` |`pelectre_tri_base`|
| Extreme levels  |`electre_tri_level`|`electre_tri_level`|

---

**Available data:**

|                 |ELECTRE Tri        | pELECTRE Tri      |
|-----------------|-------------------|-------------------|
| Base profiles   |`bldg_retrofit_base.csv` |`bldg_retrofit_base_std.csv`|
| Extreme levels  |`bldg_retrofit_level.csv`|`bldg_retrofit_level_std.csv`|


Note:

- Performance matrix:
  - Crisp values (_ELECTRE Tri_).
  - Probabilistic values (_pELECTRE Tri_).

- Base profiles:
  - Explicitly defined _base profiles_.
  - Defined as a number of equidistant ranges between _extreme levels.

# Imports

Copy the module `electre_tri.py` in the working directory or add the path to the directory.

In [1]:
"""
Append `src/` directory to `path`
"""
import sys
import os

notebook_dir = os.path.dirname(os.path.abspath('__file__'))
project_root = os.path.dirname(os.path.dirname(notebook_dir))

src_dir = os.path.join(project_root, 'src')
sys.path.append(src_dir)

In [2]:
import pandas as pd

import electre_tri as et

# ELECTRE Tri-B with base profiles defined explicitly

Perform ELECTRE Tri-B with crisp values for the performance matrix A and explicitly defined base profiles B for categories. The indifference q, preference p and veto v thresholds are given explicitly.

In [3]:
data_file = "../../data/bldg_retrofit_base.csv"
print("Example of data file")
pd.read_csv(data_file)

Example of data file

  type        profile  Saving/(kWh/m²/year)  Cost/(€/m²)
0    A      a1: Basic                  50.0       -100.0
1    A   a2: Moderate                  80.0       -200.0
2    A  a3: Extensive                 120.0       -350.0
3    B            bad                  50.0       -300.0
4    B           good                 100.0       -100.0
5    T              q                   5.0         10.0
6    T              p                  10.0         25.0
7    T              v                  20.0         50.0
8    w            NaN                   0.7          0.3

In [4]:
opti, pessi = et.electre_tri_base(
    data_file,
    credibility_threshold=0.75)

In [5]:
print("Crisp optimistic ranking")
opti

Crisp optimistic ranking

             a1: Basic  a2: Moderate  a3: Extensive
bad ≻              NaN           NaN            NaN
(bad, good)        1.0           1.0            NaN
good ≺             NaN           NaN            1.0

In [6]:
print("Crisp pessimistic ranking:")
pessi

Crisp pessimistic ranking:

             a1: Basic  a2: Moderate  a3: Extensive
bad ≻              NaN           NaN            1.0
(bad, good)        1.0           1.0            NaN
good ≺             NaN           NaN            NaN

# ELECTRE Tri-B with base profiles from worst & best levels

Perform ELECTRE Tri-B with crisp values for the performance matrix A and base profiles for categories defined from extreme levels L. The indifference, preference and veto thresholds are given as a percentage of the range between two consecutive equidistant base profiles.

In [7]:
data_file = "../../data/bldg_retrofit_level.csv"
print("Example of data file")
pd.read_csv(data_file)

Example of data file

  type        profile  Saving/(kWh/m²/year)  Cost/(€/m²)
0    A      a1: Basic                  50.0       -100.0
1    A   a2: Moderate                  80.0       -200.0
2    A  a3: Extensive                 120.0       -350.0
3    L          worst                   0.0       -300.0
4    L           best                 150.0          0.0
5    w            NaN                   0.7          0.3

In [8]:
opti, pessi = et.electre_tri_level(
    data_file,
    n_base_profile=2,
    threshold_percent=[0.10, 0.25, 0.50],
    credibility_threshold=0.75)

In [9]:
print("Crisp optimistic ranking:")
opti

Crisp optimistic ranking:

          a1: Basic  a2: Moderate  a3: Extensive
b1 ≻            NaN           NaN            NaN
(b1, b2)        1.0           1.0            NaN
b2 ≺            NaN           NaN            1.0

In [10]:
print("Crisp pessimistic ranking:")
pessi

Crisp pessimistic ranking:

          a1: Basic  a2: Moderate  a3: Extensive
b1 ≻            NaN           NaN            1.0
(b1, b2)        1.0           1.0            NaN
b2 ≺            NaN           NaN            NaN

# Probabilistic ELECTRE Tri-B with base profiles defined explicitly

Perform pELECTRE Tri-B with probabilistic values S for the performance matrix A and explicitly defined base profiles B for categories. The indifference q, preference p and veto v thresholds are given explicitly.

In [11]:
data_file = "../../data/bldg_retrofit_base_std.csv"
print("Example of data file")
pd.read_csv(data_file)

Example of data file

   type        profile  Saving/(kWh/m²/year)  Cost/(€/m²)
0     A      a1: Basic                  50.0       -100.0
1     A   a2: Moderate                  80.0       -200.0
2     A  a3: Extensive                 120.0       -350.0
3     S      a1: Basic                   5.0         10.0
4     S   a2: Moderate                   8.0         20.0
5     S  a3: Extensive                  12.0         35.0
6     B            bad                  50.0       -200.0
7     B           good                 100.0       -100.0
8     T              q                   5.0         10.0
9     T              p                  12.5         25.0
10    T              v                  25.0         50.0
11    w            NaN                   0.7          0.3

In [12]:
opti, pessi = et.pelectre_tri_base(
    data_file,
    credibility_threshold=0.75,
    n_simulations=100,
    seed=123)

In [13]:
print("Probabilistic optimistic ranking:")
opti

Probabilistic optimistic ranking:

             a1: Basic  a2: Moderate  a3: Extensive
bad ≻              NaN           NaN            NaN
(bad, good)        1.0           1.0           0.15
good ≺             NaN           NaN           0.85

In [14]:
print("Probabilistic pessimistic ranking:")
pessi

Probabilistic pessimistic ranking:

             a1: Basic  a2: Moderate  a3: Extensive
bad ≻             0.02          0.11            1.0
(bad, good)       0.98          0.89            NaN
good ≺             NaN           NaN            NaN

# Probabilistic ELECTRE Tri-B with base profiles from worst & best levels

Perform pELECTRE Tri-B with probabilistic values S for the performance matrix A and base profiles for categories defined from extreme levels L. The indifference, preference and veto thresholds are given as a percentage of the range between two consecutive equidistant base profiles.

In [15]:
data_file = "../../data/bldg_retrofit_level_std.csv"
print("Example of data file")
pd.read_csv(data_file)

Example of data file

  type        profile  Saving/(kWh/m²/year)  Cost/(€/m²)
0    A      a1: Basic                  50.0       -100.0
1    A   a2: Moderate                  80.0       -200.0
2    A  a3: Extensive                 120.0       -350.0
3    S      a1: Basic                   5.0         10.0
4    S   a2: Moderate                   8.0         20.0
5    S  a3: Extensive                  12.0         35.0
6    L          worst                   0.0       -300.0
7    L           best                 150.0          0.0
8    w            NaN                   0.7          0.3

In [16]:
opti, pessi = et.pelectre_tri_level(
    data_file,
    n_base_profile=2,
    threshold_percent=[0.10, 0.25, 0.50],
    credibility_threshold=0.75,
    n_simulations=100,
    seed=123)

In [17]:
print("Probabilistic optimistic ranking:")
opti

Probabilistic optimistic ranking:

          a1: Basic  a2: Moderate  a3: Extensive
b1 ≻            NaN           NaN            NaN
(b1, b2)        1.0           1.0            NaN
b2 ≺            NaN           NaN            1.0

In [18]:
print("Probabilistic pessimistic ranking")
pessi

Probabilistic pessimistic ranking

          a1: Basic  a2: Moderate  a3: Extensive
b1 ≻            NaN           NaN            1.0
(b1, b2)        1.0           1.0            NaN
b2 ≺            NaN           NaN            NaN